# Oppgaver

In [1]:
from Element2_Pandas import* #importerer python-filen som en modul

# Oppgave 1:
Har importert filen 2342202.csv i python-filen og kalt den for "df_opg1"

# Oppgave 2:

Vi ser at dataen er organisert i 92099 rader og fire kolonner: Station, Name, Date og TAVG.
Datasettet består av datatypene "object" og "float64" hvor TAVG består av "float64"-verdier og resten er "object".

NB! Vi legger merke til at i TAVG kolonnen så finnes det bare 7606 rader som ikke er null-verdier.

In [2]:
df_opg1.head()

       STATION                         NAME        DATE  TAVG
0  US1NYWC0003  WHITE PLAINS 3.1 NNW, NY US  2017-01-03   NaN
1  US1NYWC0003  WHITE PLAINS 3.1 NNW, NY US  2017-01-04   NaN
2  US1NYWC0003  WHITE PLAINS 3.1 NNW, NY US  2017-01-05   NaN
3  US1NYWC0003  WHITE PLAINS 3.1 NNW, NY US  2017-01-06   NaN
4  US1NYWC0003  WHITE PLAINS 3.1 NNW, NY US  2017-01-09   NaN

In [3]:
df_opg1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92099 entries, 0 to 92098
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STATION  92099 non-null  object
 1   NAME     92099 non-null  object
 2   DATE     92099 non-null  object
 3   TAVG     7606 non-null   float64
dtypes: float64(1), object(3)
memory usage: 2.8+ MB

# oppgave 3:
Dropper duplikerte rader og rader med null-verdier vha. "drop_dup_nan" funksjonen, og fikser index-verdiene vha. "fix_index" funksjonen.

Vi ser at det nå er kun 7606 gjenværende rader i df_opg1. Dette er fordi at en stor majoritet av de 92099 radene i TAVG-kolonnen inneholdt null-verdier.

In [4]:
drop_dup_nan(df_opg1)
fix_index(df_opg1)
df_opg1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7606 entries, 0 to 7605
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STATION  7606 non-null   object
 1   NAME     7606 non-null   object
 2   DATE     7606 non-null   object
 3   TAVG     7606 non-null   float64
dtypes: float64(1), object(3)
memory usage: 237.8+ KB

# Oppgave 4:
Vi deler "NAME" kolonnen i to kolonner "Area" og "Country" vha. funksjonen "split_NAME" fra spyder-filen.

In [5]:
split_NAME(df_opg1)
df_opg1.head()

       STATION        DATE  TAVG               AREA COUNTRY
0  USW00014732  2017-01-01  46.0  LAGUARDIA AIRPORT   NY US
1  USW00014732  2017-01-02  40.0  LAGUARDIA AIRPORT   NY US
2  USW00014732  2017-01-03  42.0  LAGUARDIA AIRPORT   NY US
3  USW00014732  2017-01-04  47.0  LAGUARDIA AIRPORT   NY US
4  USW00014732  2017-01-05  34.0  LAGUARDIA AIRPORT   NY US

# Oppgave 5:
Vi deler COUNTRY-kolonnen i to kolonner CITY og COUNTRY vha. "split_COUNTRY" funksjonen.

In [6]:
split_COUNTRY(df_opg1)
df_opg1.head()

       STATION        DATE  TAVG               AREA COUNTRY CITY
0  USW00014732  2017-01-01  46.0  LAGUARDIA AIRPORT      US   NY
1  USW00014732  2017-01-02  40.0  LAGUARDIA AIRPORT      US   NY
2  USW00014732  2017-01-03  42.0  LAGUARDIA AIRPORT      US   NY
3  USW00014732  2017-01-04  47.0  LAGUARDIA AIRPORT      US   NY
4  USW00014732  2017-01-05  34.0  LAGUARDIA AIRPORT      US   NY

# Oppgave 6: 
Vi har laget en funksjon "fix_COUNTRY" for å endre "COUNTRY"-kolonnen til landskoder på to bokstaver. I df_opg1 trengs ikke denne fordi vi allerede har gjort "COUNTRY"-kolonnen til landskoder på to bokstaver i oppgave 5.

"fix_COUNTRY"-funksjonen gjør jobben effektivt ved å ta i bruk den innebygde pandas-funksjonen "rsplit" ("Series.str.rsplit"), men det finnes også alternative måter å løse denne oppgaven på. Under er to alternativer som ikke tar i bruk noen innebygde pandas-funksjoner:

alternativ 1 - Funksjonen oppnår det samme resultatet som "fix_COUNTRY" funksjonen ved å gå gjennom hver rad i datasettet. Den splitter radens "COUNTRY"-verdi (som består av enten en landskode, eller en bykode og en landskode) til en liste, for så å sette radens "COUNTRY"-verdi lik det siste elementet i denne listen (som alltid vil være en landskode).

```python
def alternativ1(df):
    for n in range(0, len(df)):
        df["COUNTRY"][n] = df["COUNTRY"][n].split(" ")[-1]```

alternativ 2 - Funksjonen har den samme funksjonaliteten som alternativ 1, men tar i bruk en while-løkke i stedet for en for-løkke.
```python
def alternativ2(df):
    n = 0
    while n < len(df):
        df["COUNTRY"][n] = df["COUNTRY"][n].split(" ")[-1]      
        n+=1```

# Oppgave 7:
I spyder-filen har vi importert filen "2342207.csv", og kalt den for "df_opg7". Vi har også definert en funksjon "trinn_3_4_6" for å gjøre trinn 3, 4 og 6 for en valgfri df.

In [7]:
trinn_3_4_6(df_opg7)
df_opg7.head()

       STATION      DATE  TAVG             AREA COUNTRY
0  FIE00142101  1/1/2017  33.0  HELSINKI ILMALA      FI
1  FIE00142101  1/2/2017  26.0  HELSINKI ILMALA      FI
2  FIE00142101  1/3/2017  21.0  HELSINKI ILMALA      FI
3  FIE00142101  1/4/2017   9.0  HELSINKI ILMALA      FI
4  FIE00142101  1/5/2017   1.0  HELSINKI ILMALA      FI

# Oppgave 8:
Bruker funksjonen "combine_dfs" fra spyder-filen for å sette sammen df_opg1 og df_opg7 til en df_opg8, og for å fikse index-verdiene til den resulterende df-en.

In [8]:
df_opg8 = combine_dfs(df_opg1, df_opg7)

In [9]:
df_opg8.head()

       STATION        DATE  TAVG               AREA COUNTRY CITY
0  USW00014732  2017-01-01  46.0  LAGUARDIA AIRPORT      US   NY
1  USW00014732  2017-01-02  40.0  LAGUARDIA AIRPORT      US   NY
2  USW00014732  2017-01-03  42.0  LAGUARDIA AIRPORT      US   NY
3  USW00014732  2017-01-04  47.0  LAGUARDIA AIRPORT      US   NY
4  USW00014732  2017-01-05  34.0  LAGUARDIA AIRPORT      US   NY

# Oppgave 9:
For å kontrollere at df-en fra trinn 8 er riktig kan vi sjekke at lengden på df-en fra trinn 8 er lik summen av lengdene til de to tidligere df-ene som den består av. Dersom lengdene samsvarer kan vi konkludere med at alle radene fra de to tidligere df-ene også finnes i den nye df-en fra trinn 8, og at den dermed sannsynligvis er slik som vi forventer.

Dette har vi laget en funksjon for i Spyder-filen kalt "kontroll". 

Funksjonen printer "Riktig lengde" dersom lengden til de to tidligere df-ene samsvarer med lengden på df_opg8.

In [10]:
kontroll(df_opg1, df_opg7, df_opg8)

Riktig lengde

# Oppgave 11:
I spyder-filen har vi importert alle filene fra "weather"-mappen og lagret dem i en liste kalt "all_dfs".

Vi har også definert en funksjon "fix_dfs_in_list" som kjører trinn 3, 4 og 6 for hver df i en liste.

In [11]:
fix_dfs_in_list(all_dfs)

# Oppgave 12:
I spyder-filen har vi importert "Trondheim.csv"-filen og kalt den "df_trondheim".
Vi kjører trinn 3, 4 og 6 for "df_trondheim".

In [12]:
trinn_3_4_6(df_trondheim)

#  Oppgave 13:
Lager en ny kolonne TAVG som er gjennomsnittet av TMIN og TMAX:

In [13]:
df_trondheim["TAVG"] = (df_trondheim["TMIN"]+df_trondheim["TMAX"])/2

# Oppgave 14:
Endrer df_trondheim slik at rekkefølgen er lik rekkefølgen til de andre df-ene, og slik at "TMIN" og "TMAX" ikke blir med. 

Dette gjøres vha. funksjonen "df_make_default" som vi har definert i spyder-filen.

In [14]:
df_trondheim = df_make_default(df_trondheim)

In [15]:
df_trondheim.head()

       STATION        DATE  TAVG            AREA COUNTRY
0  NOE00111040  2017-01-01  34.0  TRONDHEIM VOLL      NO
1  NOE00111040  2017-01-02  30.5  TRONDHEIM VOLL      NO
2  NOE00111040  2017-01-03  30.5  TRONDHEIM VOLL      NO
3  NOE00111040  2017-01-04  20.5  TRONDHEIM VOLL      NO
4  NOE00111040  2017-01-05  14.0  TRONDHEIM VOLL      NO

# Oppgave 15:
Skal kombinere alle df-ene til en større df kalt "df_complete".
Vi har definert en funksjon "combine_dfs_in_list" som kombinerer alle df-er i en liste vha. pandas "concat-funksjonen". For å gjøre dette må vi først legge "df_trondheim" til i listen "all_dfs" sammen med alle de andre df-ene.

In [16]:
df_complete = combine_dfs_in_list(all_dfs, df_trondheim)

In [17]:
df_complete.head()

       STATION      DATE  TAVG        AREA COUNTRY
0  DEW00035032  1/1/2017  26.0  RHIEN MAIN      DE
1  DEW00035032  1/2/2017  32.0  RHIEN MAIN      DE
2  DEW00035032  1/3/2017  34.0  RHIEN MAIN      DE
3  DEW00035032  1/4/2017  37.0  RHIEN MAIN      DE
4  DEW00035032  1/5/2017  31.0  RHIEN MAIN      DE

# Oppgave 16:
importerer "countryContinent.csv" til en df kalt "df_country_continent"

In [18]:
df_country_continent = pd.read_csv('Datasets/countryContinent.csv', encoding="iso_8859_1")

# Oppgave 17:
Vi kan se at df_country_continent er strukturert i 9 kolonner. 

Kolonnene inneholder informasjon om land, som hvilke region de befinner seg i, regions-koden, lands-koden osv. 

Blant all denne informasjonen er det mye som kan være unyttig når vi analyserer temperaturdata. Det som kan være nyttig å vite derimot er: land, lands-kode, kontinent og region. Fordi denne informasjonen er relevant til temperaturdataen.

In [19]:
df_country_continent.head(10)

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0
5,Andorra,AD,AND,20,ISO 3166-2:AD,Europe,Southern Europe,150.0,39.0
6,Angola,AO,AGO,24,ISO 3166-2:AO,Africa,Middle Africa,2.0,17.0
7,Anguilla,AI,AIA,660,ISO 3166-2:AI,Americas,Caribbean,19.0,29.0
8,Antarctica,AQ,ATA,10,ISO 3166-2:AQ,NaN,NaN,NaN,NaN
9,Antigua and Barbuda,AG,ATG,28,ISO 3166-2:AG,Americas,Caribbean,19.0,29.0

# Oppgave 18:
Bruker "merge" funksjonen til å slå sammen "df_complete" og "df_country_continent" til en df "df_complete_cont".

Vi slår de sammen med hensyn på kolonnene "COUNTRY" (fra "df_complete") og "code_2" (fra "df_country_continent"), fordi disse kolonnene samsvarer.

In [20]:
df_complete_cont = pd.merge(df_complete, df_country_continent, left_on="COUNTRY", right_on="code_2")

# Oppgave 19:
Har definert en funksjon "trinn19()" i spyder-filen som dropper kolonnen "code_2", og gir nye navn til de forespurte kolonnene.

In [21]:
df_complete_cont = trinn19(df_complete_cont)

# Oppgave 21:
Vi har definert en funksjon i spyder-filen "column_values()" som finner, sorterer og returnerer alle unike verdier fra en kolonne i en dataframe. 

Her har vi tatt i bruk de innebygde pandas funksjonene "sort_values()" og "unique()" for å kun ta med unike navn på land og for å sortere listen alfabetisk.

Alternativt kunne man enkelt ha definert en funksjon for dette på egenhånd også på måten vist under. Her definerer vi først en tom liste "unique_values", og går så gjennom hvert land i kolonnen "Country" i "df_complete_cont". Dersom landet ikke allerede finnes i listen "unique_values" så legger vi det til i listen. Deretter bruker vi den innebygde python-funksjonen "sorted()" til å sortere listen alfabetisk:


```python
def alternativ(df, column):
    unique_values = []

    for value in list(df[column]):
        if value not in unique_values:       
            unique_values.append(value)
    unique_values = sorted(unique_values)
    
alternativ(df_complete_cont, "Country")```

In [22]:
countries_in_df = column_values(df_complete_cont, "Country")
continents_in_df = column_values(df_complete_cont, "Continent")

# Oppgave 22:
Vi har definert en funksjon "f_to_c()" i spyder som konverterer grader i fahrenheit til grader i celcius. Vi bruker den til å konvertere alle verdiene i kolonnen "TAVG" til celcius.

Konverteringen fra fahrenheit til celcius gikk uten problemer, i stor grad fordi vi kunne ta i bruk en enkel funksjon for å konvertere alle verdiene samtidig. Dersom det derimot hadde fantes en blanding av verdier målt i celcius og fahrenheit uten at enhetene var oppgitt, hadde vi hatt et mye vanskeligere problem å løse. 

Dersom vi skulle konvertert denne blandingen av temperaturenheter til én enhet måtte vi først og fremst sjekket om verdiene var målt i Celcius eller i Fahrenheit. Det finnes ikke en måte å gjøre dette på med 100% sikkerhet, men vi kunne prøvd å rasjonalisere oss fram til et svar. Vi vet at alle temperaturer over 56.7 grader må være målt i fahrenheit, med mindre de har satt en ny varmerekord. Om man anntar at hvert land bruker én temperatur-enhet så kan vi konkludere med at alle målingene fra land som har temperatur-verdier over 56.7 grader bruker enheten fahrenheit. Deretter gjenstår landene som kun har målinger under 56.7 grader. For å finne ut hvilken enhet disse målingene er gjort i så kan vi sammenligne med målinger fra omkringliggende land som vi allerede har bestemt at har temperatur målt i fahrenheit. For eksempel ved å se på andre land som ligger i samme region, sub-region og på samme kontinent. Om landets temperatur ligger langt under omkringliggende lands gjennomsnittstemperatur så kan vi konkludere med at målingene er gjort i celcius. Deretter kunne vi konvertert kun de målingene som var i "feil" enhet.

In [23]:
df_complete_cont["TAVG"] = f_to_c(df_complete_cont["TAVG"])

In [24]:
df_complete_cont

,STATION,DATE,TAVG,AREA,Country-code,Country,code_3,country_code,iso_3166_2,Continent,sub_region,region_code,sub_region_code
0,DEW00035032,1/1/2017,-3.33,RHIEN MAIN,DE,Germany,DEU,276,ISO 3166-2:DE,Europe,Western Europe,150.0,155.0
1,DEW00035032,1/2/2017,0.00,RHIEN MAIN,DE,Germany,DEU,276,ISO 3166-2:DE,Europe,Western Europe,150.0,155.0
2,DEW00035032,1/3/2017,1.11,RHIEN MAIN,DE,Germany,DEU,276,ISO 3166-2:DE,Europe,Western Europe,150.0,155.0
3,DEW00035032,1/4/2017,2.78,RHIEN MAIN,DE,Germany,DEU,276,ISO 3166-2:DE,Europe,Western Europe,150.0,155.0
4,DEW00035032,1/5/2017,-0.56,RHIEN MAIN,DE,Germany,DEU,276,ISO 3166-2:DE,Europe,Western Europe,150.0,155.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40345,KZ000035188,12/27/2019,-12.22,ASTANA,KZ,Kazakhstan,KAZ,398,ISO 3166-2:KZ,Asia,Central Asia,142.0,143.0
40346,KZ000035188,12/28/2019,-5.00,ASTANA,KZ,Kazakhstan,KAZ,398,ISO 3166-2:KZ,Asia,Central Asia,142.0,143.0
40347,KZ000035188,12/29/2019,-5.00,ASTANA,KZ,Kazakhstan,KAZ,398,ISO 3166-2:KZ,Asia,Central Asia,142.0,143.0
40348,KZ000035188,12/30/2019,-13.33,ASTANA,KZ,Kazakhstan,KAZ,398,ISO 3166-2:KZ,Asia,Central Asia,142.0,143.0
40349,KZ000035188,12/31/2019,-14.44,ASTANA,KZ,Kazakhstan,KAZ,398,ISO 3166-2:KZ,Asia,Central Asia,142.0,143.0

# Problemer og utfordringer vi møtte på underveis
Da vi gikk gjennom disse oppgavene møtte vi på en rekke problemer og utfordringer underveis. Jeg mistenker at majoriteten av utfordringene vi møtte på kom fra for lite erfaring med verktøyene vi tok i bruk, som pandas, jupyter notebook og spyder.
Til tross for at vi har jobbet med disse verktøyene tidligere så lærte vi mye underveis, og vi har fortsatt mye å lære for å kunne bruke disse verktøyene til deres fulle potensial.

Da vi startet å jobbe så gikk vi gjennom alle oppgavene i kronologisk rekkefølge, og løste dem fortløpende i Spyder. Dette ga et godt overblikk over oppgavene og førte til at vi fant rimelige måter å løse dem på. Til tross for at det var en tidseffektiv måte å løse oppgavene i Spyder, så møtte vi på problemer da vi skulle presentere oppgavene i Jupyter. Koden var mye mer rotete enn den kunne ha vært, og vi hadde ikke tatt i bruk funksjoner i stor nok grad. Dette gjorde det umulig å presentere arbeidet i Jupyter uten å omskrive store deler av koden. I ettertid ser vi at vi kunne ha fått et bedre produkt raskere dersom vi hadde hatt en annen arbeidsmetode fra begynnelsen. For eksempel så var det flere oppgaver som måtte løses flere ganger, som oppgave 3, 4 og 6. Dersom vi hadde tatt tiden til å få et skikkelig overblikk over alle oppgavene før vi startet så kunne vi ha skrevet generelle funksjoner for å løse disse oppgavene fra begynnelsen, i stedet for å gå tilbake og løse disse oppgavene igjen da vi skulle presentere arbeidet i Jupyter.


En annen del av oppgaven som vi fant spesielt utfordrende var oppgavene hvor vi skulle finne alternative måter å løse det samme problemet på. Å løse oppgavene vi ble bedt om gikk veldig fint, men da man allerede har funnet en måte å løse dem på så blir det ofte vanskelig å finne alternative måter. Muligens fordi man får litt tunnelsyn og "låser seg inn" på metoden som først ble brukt, og har vanskelig for å gå helt tilbake til begynnelsen. Dette var mer en utfordring enn et problem, og jeg ser ikke en bedre "metode" å løse disse oppgavene på. 

Utenom dette så møtte vi på mindre problemer som at vi hadde vanskeligheter med å importere python-koden som en modul til Jupyter. Vi fant det også utfordrende å drøfte hvordan vi kunne konvertert en blanding av temperaturer målt i Celcius og Fahrenheit til Fahrenheit. Men etter en del googling og tenking så løste dette seg også fint.

Problemene vi møtte på kom nok først og fremst fra at vi fortsatt er i begynnerstadiet når det gjelder både koding, rapportskriving og problemløsning. Med mer erfaring vil vi kunne løse og unngå slike utfordringer lettere enn vi kan den dag i dag.